/* Add this CSS in a separate stylesheet or in a <style> tag in your component */
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center vertically within the viewport */
}


table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius :10%
}

th, td {
  border: 3px solid #d18787;
  padding: 8px;
  text-align: center;
  text-decoration:double;
}

th {
  background-color:#cf8ab9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #efd1e5;
}

.navbar{
  justify-content: center;
  align-items: center;
}
a:hover {
  background-color: #efd1e5;
}
li{
 

}